*
{
    background-color: lightgray;
    font-family: Arial;
    word-spacing: 2px;
    letter-spacing: 1px;
}
Label
{
    font-style: italic;
}
fieldset
{
    width: 200px;
}
input[type="number"], input[type="text"]
{
    border-radius: 5px;
    background-color: white;
}
input[type="submit"], input[type="reset"]
{
    border-radius: 5px;
    height: 40px;
}
input[type="submit"]:hover, input[type="reset"]:hover
{
    background-color: gray;
    color: white;
}

p
{
    font-weight: bold;
}